body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.cover {
  background-image: url(bg.jpg);
  width: 40vw;
  height: 100vh;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  background-position: center;
}
.trap {
  float: right;
  position: relative;
  width: 65vw;
  height: 0;
  border-bottom: 65vw solid #feb933;
  border-left: 100px solid transparent;
  z-index: 1;
}

.overlay {
  z-index: 2;
}
.form {
  background-color: #fdfdfd;
  border-radius: 10px;
  padding: 1rem;
  max-width: 30%;
}
.upper-txt {
  display: flex;
  flex-direction: row;
  padding-bottom: 1rem;
  gap: 2rem;
}
.yellow {
  color: #feb933;
  font-size: 0.8rem;
}
.gray {
  color: #6d9c99;
  font-size: 0.8rem;
}
.lower {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
button {
  background-color: #2b656a;
  padding: 1rem;
  color: white;
  border: none;
}
input {
  padding: 0.8rem;
  background-color: rgba(204, 204, 204, 0.1);
}
input::placeholder {
  color: #2b656a7c;
}
.full {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25%;
}
h4 {
  display: none;
}
@media screen and (max-width: 1200px) {
  h4 {
    display: block;
  }
  .cover {
    display: none;
  }
  body {
    background-color: #2b656a;
    position: absolute;
  }
  .full {
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #feb933;
    padding: 1rem;
    border: 10px;
    height: 50vh;
  }
  .trap {
    border-bottom: 65vw solid transparent;
    border-left: none;
    width: 100vw;
  }
}

@media screen and (max-width: 800px) {
  .upper-txt {
    display: block;
  }
  .trap {
    width: 100vw;
  }
}
